In [1]:
from beacon_api import *
import pandas as pd
import csv
pd.set_option('display.max_columns', None)

In [2]:
client = Client("https://beacon-ihm.maris.nl")

Connected to: https://beacon-ihm.maris.nl/ server successfully

In [3]:
tables = client.list_tables()
tables['ihm_aquadesk_api'].get_table_schema()

Organisation: string
Supplier: string
Projects: string
Code: string
Description: string
Parameter: string
LifeForm: string
Value: double
Uom: string
Count: double
Type: string
ResultOf: string
SamplingMethod: string
AnalysisMethod: string
Compartment: string
Geography: string
ResultTime: string
Quantity: string
TaxonType: string
TaxonRank: string
TaxonGroup: string
TaxonNameNl: string
ParameterType: string
Behaviour: string
Sampler: string
Completeness: string
Statistic: string
RecordingMethod: string
KrwCode: string
Purpose: string
Source: string
MeasurementPackage: string
MonitoringNetworks: string
longitude: double
latitude: double

In [4]:
df_aquadesk= (
    tables["ihm_aquadesk_api"]
    .query()
    .add_select_column("Organisation")
    .add_select_column("Supplier")
    .add_select_column("Projects")
    .add_select_column("Code")
    .add_select_column("Description")
    .add_select_column("Parameter")
    .add_select_column("LifeForm")
    .add_select_column("Value")
    .add_select_column("Uom")
    .add_select_column("Count")
    .add_select_column("Type")
    .add_select_column("ResultOf")
    .add_select_column("SamplingMethod")
    .add_select_column("AnalysisMethod")
    .add_select_column("Compartment")
    .add_select_column("ResultTime")
    .add_select_column("Quantity")
    .add_select_column("TaxonType")
    .add_select_column("TaxonRank")
    .add_select_column("TaxonGroup")
    .add_select_column("TaxonNameNl")
    .add_select_column("ParameterType")
    .add_select_column("Behaviour")
    .add_select_column("Sampler")
    .add_select_column("Completeness")
    .add_select_column("Statistic")
    .add_select_column("RecordingMethod")
    .add_select_column("KrwCode")
    .add_select_column("Purpose")
    .add_select_column("Source")
    .add_select_column("MeasurementPackage")
    .add_select_column("MonitoringNetworks")
    .add_select_column("longitude")
    .add_select_column("latitude")
    .to_pandas_dataframe()
)

Running query: {"from": "ihm_aquadesk_api", "select": [{"column": "Organisation", "alias": null}, {"column": "Supplier", "alias": null}, {"column": "Projects", "alias": null}, {"column": "Code", "alias": null}, {"column": "Description", "alias": null}, {"column": "Parameter", "alias": null}, {"column": "LifeForm", "alias": null}, {"column": "Value", "alias": null}, {"column": "Uom", "alias": null}, {"column": "Count", "alias": null}, {"column": "Type", "alias": null}, {"column": "ResultOf", "alias": null}, {"column": "SamplingMethod", "alias": null}, {"column": "AnalysisMethod", "alias": null}, {"column": "Compartment", "alias": null}, {"column": "ResultTime", "alias": null}, {"column": "Quantity", "alias": null}, {"column": "TaxonType", "alias": null}, {"column": "TaxonRank", "alias": null}, {"column": "TaxonGroup", "alias": null}, {"column": "TaxonNameNl", "alias": null}, {"column": "ParameterType", "alias": null}, {"column": "Behaviour", "alias": null}, {"column": "Sampler", "alias": null}, {"column": "Completeness", "alias": null}, {"column": "Statistic", "alias": null}, {"column": "RecordingMethod", "alias": null}, {"column": "KrwCode", "alias": null}, {"column": "Purpose", "alias": null}, {"column": "Source", "alias": null}, {"column": "MeasurementPackage", "alias": null}, {"column": "MonitoringNetworks", "alias": null}, {"column": "longitude", "alias": null}, {"column": "latitude", "alias": null}], "filters": [], "output": {"format": "parquet"}}

In [5]:
df_aquadesk

,Organisation,Supplier,Projects,Code,Description,Parameter,LifeForm,Value,Uom,Count,Type,ResultOf,SamplingMethod,AnalysisMethod,Compartment,ResultTime,Quantity,TaxonType,TaxonRank,TaxonGroup,TaxonNameNl,ParameterType,Behaviour,Sampler,Completeness,Statistic,RecordingMethod,KrwCode,Purpose,Source,MeasurementPackage,MonitoringNetworks,longitude,latitude
0,RWS,None,None,WG17,Balgzand,Numenius phaeopus,None,NaN,None,3.0,Count,observed,None,None,NT,1990-12-31T23:00:00Z,AANTL,VOGLS,Species,None,Regenwulp,Biological,FOER,Sovon,COMPLETE,None,None,None,None,Sovon,None,None,4.834411,52.916400
1,RWS,None,None,WG17,Balgzand,Numenius arquata,None,NaN,None,1140.0,Count,observed,None,None,NT,1990-12-31T23:00:00Z,AANTL,VOGLS,Species,None,Wulp,Biological,FOER,Sovon,COMPLETE,None,None,None,None,Sovon,None,None,4.834411,52.916400
2,RWS,None,None,WG17,Balgzand,Tringa erythropus,None,NaN,None,79.0,Count,observed,None,None,NT,1990-12-31T23:00:00Z,AANTL,VOGLS,Species,None,Zwarte Ruiter,Biological,FOER,Sovon,COMPLETE,None,None,None,None,Sovon,None,None,4.834411,52.916400
3,RWS,None,None,WG17,Balgzand,Tringa totanus,None,NaN,None,344.0,Count,observed,None,None,NT,1990-12-31T23:00:00Z,AANTL,VOGLS,Species,None,Tureluur,Biological,FOER,Sovon,COMPLETE,None,None,None,None,Sovon,None,None,4.834411,52.916400
4,RWS,None,None,WG17,Balgzand,Tringa nebularia,None,NaN,None,8.0,Count,observed,None,None,NT,1990-12-31T23:00:00Z,AANTL,VOGLS,Species,None,Groenpootruiter,Biological,FOER,Sovon,COMPLETE,None,None,None,None,Sovon,None,None,4.834411,52.916400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167380,RWS,None,None,IJ15,Houtribdijk (IJsselmeerzijde),Larus argentatus,None,NaN,None,63.0,Count,observed,None,None,NT,1993-12-31T23:00:00Z,AANTL,VOGLS,Species,None,Zilvermeeuw,Biological,FOER,Sovon,COMPLETE,None,None,None,None,Sovon,None,None,5.409417,52.628275
5167381,RWS,None,None,IJ15,Houtribdijk (IJsselmeerzijde),Larus marinus,None,NaN,None,21.0,Count,observed,None,None,NT,1993-12-31T23:00:00Z,AANTL,VOGLS,Species,None,Grote mantelmeeuw,Biological,FOER,Sovon,COMPLETE,None,None,None,None,Sovon,None,None,5.409417,52.628275
5167382,RWS,None,None,IJ15,Houtribdijk (IJsselmeerzijde),Podiceps cristatus,None,NaN,None,8.0,Count,observed,None,None,NT,1993-12-31T23:00:00Z,AANTL,VOGLS,Species,None,Fuut,Biological,FOER,Sovon,COMPLETE,None,None,None,None,Sovon,None,None,5.409417,52.628275
5167383,RWS,None,None,IJ15,Houtribdijk (IJsselmeerzijde),Aythya ferina,None,NaN,None,50.0,Count,observed,None,None,NT,1993-12-31T23:00:00Z,AANTL,VOGLS,Species,None,Tafeleend,Biological,FOER,Sovon,COMPLETE,None,None,None,None,Sovon,None,None,5.409417,52.628275
5167384,RWS,None,None,IJ15,Houtribdijk (IJsselmeerzijde),Aythya fuligula,None,NaN,None,1385.0,Count,observed,None,None,NT,1993-12-31T23:00:00Z,AANTL,VOGLS,Species,None,Kuifeend,Biological,FOER,Sovon,COMPLETE,None,None,None,None,Sovon,None,None,5.409417,52.628275

Nu er een beter beeld is van de Aquadesk content en er meer informatie beschikbaar is voor de kolommen, kan er worden geprobeerd om een mapping te maken naar DarwinCore. Om een logische data export na te bootsen zoals data normaal gesproken naar Eurobis Darwin Core zou worden geschreven is er gekozen om te focussen op exports voor twee taxon categorieën, Phytoplankton en Zoöplankton, waarvoor alle beschikbare data en metadata is opgehaald (zie tabellen hieronder). 

Daarbij is er ook een mapping toegevoegd van de WORMS taxon-categorieën. Om dat te realiseren is er een data dump aangevraagd van gehele taxonomy van de WORMS catalogus en deze gebruikt om op basis van de “scientific name” de bijbehorende mapping naar Genus, Species, Family te doen en deze als kolommen toe te voegen.

In [6]:
df_FYTPT = df_aquadesk[df_aquadesk['TaxonType'] == 'FYTPT']
df_FYTPT = df_FYTPT.reset_index(drop=True)
df_FYTPT

,Organisation,Supplier,Projects,Code,Description,Parameter,LifeForm,Value,Uom,Count,Type,ResultOf,SamplingMethod,AnalysisMethod,Compartment,ResultTime,Quantity,TaxonType,TaxonRank,TaxonGroup,TaxonNameNl,ParameterType,Behaviour,Sampler,Completeness,Statistic,RecordingMethod,KrwCode,Purpose,Source,MeasurementPackage,MonitoringNetworks,longitude,latitude
0,RWS,RWS,MWTL_FYTPT,NRDZE_0012,NOORDWK10,Gyrodinium spirale,LV-CEL,NaN,None,1.0,Measure,observation,FYTPT_S521,FYTPT_A523,OW,2010-09-12T22:00:00Z,AANTPVLME,FYTPT,Species,DINOF,None,None,None,None,None,None,None,None,MT,AquaDesk,FP.AC,['MRN'],4.30116,52.30143
1,RWS,RWS,MWTL_FYTPT,NRDZE_0012,NOORDWK10,Heterocapsa,LV-CEL,9799.0,N/L,NaN,Count,extrapolation,FYTPT_S521,FYTPT_A523,OW,2010-09-12T22:00:00Z,AANTPVLME,FYTPT,Genus,DINOF,None,None,None,None,None,None,None,None,MT,AquaDesk,FP.AC,['MRN'],4.30116,52.30143
2,RWS,RWS,MWTL_FYTPT,NRDZE_0012,NOORDWK10,Heterocapsa,LV-CEL,NaN,None,2.0,Measure,observation,FYTPT_S521,FYTPT_A523,OW,2010-09-12T22:00:00Z,AANTPVLME,FYTPT,Genus,DINOF,None,None,None,None,None,None,None,None,MT,AquaDesk,FP.AC,['MRN'],4.30116,52.30143
3,RWS,RWS,MWTL_FYTPT,NRDZE_0012,NOORDWK10,Khakista,LV-CEL,497225.0,N/L,NaN,Count,extrapolation,FYTPT_S521,FYTPT_A523,OW,2010-09-12T22:00:00Z,AANTPVLME,FYTPT,Subphylum,HITAX,None,None,None,None,None,None,None,None,MT,AquaDesk,FP.AC,['MRN'],4.30116,52.30143
4,RWS,RWS,MWTL_FYTPT,NRDZE_0012,NOORDWK10,Khakista,LV-CEL,NaN,None,23.0,Measure,observation,FYTPT_S521,FYTPT_A523,OW,2010-09-12T22:00:00Z,AANTPVLME,FYTPT,Subphylum,HITAX,None,None,None,None,None,None,None,None,MT,AquaDesk,FP.AC,['MRN'],4.30116,52.30143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575995,RWS,RWS,MWTL_FYTPT,NRDZE_0012,NOORDWK10,Eukaryota,LV-CEL,1131221.0,N/L,NaN,Count,extrapolation,FYTPT_S521,FYTPT_A523,OW,2010-09-12T22:00:00Z,AANTPVLME,FYTPT,Domain,HITAX,None,None,None,None,None,None,None,None,MT,AquaDesk,FP.AC,['MRN'],4.30116,52.30143
575996,RWS,RWS,MWTL_FYTPT,NRDZE_0012,NOORDWK10,Eukaryota,LV-CEL,NaN,None,5.0,Measure,observation,FYTPT_S521,FYTPT_A523,OW,2010-09-12T22:00:00Z,AANTPVLME,FYTPT,Domain,HITAX,None,None,None,None,None,None,None,None,MT,AquaDesk,FP.AC,['MRN'],4.30116,52.30143
575997,RWS,RWS,MWTL_FYTPT,NRDZE_0012,NOORDWK10,Gymnodiniales [1],LV-CEL,64975.0,N/L,NaN,Count,extrapolation,FYTPT_S521,FYTPT_A523,OW,2010-09-12T22:00:00Z,AANTPVLME,FYTPT,Order,HITAX,None,None,None,None,None,None,None,None,MT,AquaDesk,FP.AC,['MRN'],4.30116,52.30143
575998,RWS,RWS,MWTL_FYTPT,NRDZE_0012,NOORDWK10,Gymnodiniales [1],LV-CEL,NaN,None,5.0,Measure,observation,FYTPT_S521,FYTPT_A523,OW,2010-09-12T22:00:00Z,AANTPVLME,FYTPT,Order,HITAX,None,None,None,None,None,None,None,None,MT,AquaDesk,FP.AC,['MRN'],4.30116,52.30143
575999,RWS,RWS,MWTL_FYTPT,NRDZE_0012,NOORDWK10,Gyrodinium spirale,LV-CEL,4899.0,N/L,NaN,Count,extrapolation,FYTPT_S521,FYTPT_A523,OW,2010-09-12T22:00:00Z,AANTPVLME,FYTPT,Species,DINOF,None,None,None,None,None,None,None,None,MT,AquaDesk,FP.AC,['MRN'],4.30116,52.30143

In [7]:
df_ZOOPT = df_aquadesk[df_aquadesk['TaxonType'] == 'ZOOPT']
df_ZOOPT = df_ZOOPT.reset_index(drop=True)
df_ZOOPT

,Organisation,Supplier,Projects,Code,Description,Parameter,LifeForm,Value,Uom,Count,Type,ResultOf,SamplingMethod,AnalysisMethod,Compartment,ResultTime,Quantity,TaxonType,TaxonRank,TaxonGroup,TaxonNameNl,ParameterType,Behaviour,Sampler,Completeness,Statistic,RecordingMethod,KrwCode,Purpose,Source,MeasurementPackage,MonitoringNetworks,longitude,latitude
0,RWS,RWS,MWTL_FYTPT,NRDZE_0012,NOORDWK10,Myrionecta rubra,LV-CEL,1600.000000,N/L,NaN,Count,extrapolation,FYTPT_S523,FYTPT_A011,OW,2018-06-11T22:00:00Z,AANTPVLME,ZOOPT,Species,CILIO,None,None,None,None,None,None,None,None,MT,AquaDesk,ZP.AB,['MRN'],4.30116,52.30143
1,RWS,RWS,MWTL_FYTPT,NRDZE_0012,NOORDWK10,Myrionecta rubra,LV-CEL,NaN,None,2.0,Measure,observation,FYTPT_S523,FYTPT_A011,OW,2018-06-11T22:00:00Z,AANTPVLME,ZOOPT,Species,CILIO,None,None,None,None,None,None,None,None,MT,AquaDesk,ZP.AB,['MRN'],4.30116,52.30143
2,RWS,RWS,MWTL_FYTPT,NRDZE_0012,NOORDWK10,Myrionecta rubra,LV-CEL,10796.000000,N/L,NaN,Count,extrapolation,FYTPT_S523,FYTPT_A011,OW,2018-07-03T22:00:00Z,AANTPVLME,ZOOPT,Species,CILIO,None,None,None,None,None,None,None,None,MT,AquaDesk,ZP.AB,['MRN'],4.30116,52.30143
3,RWS,RWS,MWTL_FYTPT,NRDZE_0012,NOORDWK10,Myrionecta rubra,LV-CEL,NaN,None,2.0,Measure,observation,FYTPT_S523,FYTPT_A011,OW,2018-07-03T22:00:00Z,AANTPVLME,ZOOPT,Species,CILIO,None,None,None,None,None,None,None,None,MT,AquaDesk,ZP.AB,['MRN'],4.30116,52.30143
4,RWS,RWS,MWTL_FYTPT,NRDZE_0012,NOORDWK10,Myrionecta rubra,LV-CEL,2400.000000,N/L,NaN,Count,extrapolation,FYTPT_S523,FYTPT_A011,OW,2018-07-15T22:00:00Z,AANTPVLME,ZOOPT,Species,CILIO,None,None,None,None,None,None,None,None,MT,AquaDesk,ZP.AB,['MRN'],4.30116,52.30143
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,RWS,RWS,KIMA,MRKMR_8176,MKWDDN_8856,Eubosmina coregoni,None,NaN,None,0.0,Measure,observation,ZOOPT_001,ZOOPT_RWS01,OW,2024-10-07T22:00:00Z,CONCTTE,ZOOPT,Species,BRANC,Langslurfwatervlo,None,None,None,None,None,None,None,KT,AquaDesk,ZP.MS,['KIMA'],5.37176,52.58940
20000,RWS,RWS,KIMA,MRKMR_8176,MKWDDN_8856,Copepoda,None,24.414522,UG/L,NaN,Count,extrapolation,ZOOPT_001,ZOOPT_RWS01,OW,2024-10-07T22:00:00Z,CONCTTE,ZOOPT,Subclass,COPEP,None,None,None,None,None,None,None,None,KT,AquaDesk,ZP.MS,['KIMA'],5.37176,52.58940
20001,RWS,RWS,KIMA,MRKMR_8176,MKWDDN_8856,Copepoda,None,NaN,None,18.0,Measure,observation,ZOOPT_001,ZOOPT_RWS01,OW,2024-10-07T22:00:00Z,CONCTTE,ZOOPT,Subclass,COPEP,None,None,None,None,None,None,None,None,KT,AquaDesk,ZP.MS,['KIMA'],5.37176,52.58940
20002,RWS,RWS,KIMA,MRKMR_8176,MKWDDN_8856,Copepoda,None,6.154490,UG/L,NaN,Count,extrapolation,ZOOPT_001,ZOOPT_RWS01,OW,2024-10-07T22:00:00Z,CONCTTE,ZOOPT,Subclass,COPEP,None,None,None,None,None,None,None,None,KT,AquaDesk,ZP.MS,['KIMA'],5.37176,52.58940
20003,RWS,RWS,KIMA,MRKMR_8176,MKWDDN_8856,Copepoda,None,NaN,None,1.0,Measure,observation,ZOOPT_001,ZOOPT_RWS01,OW,2024-10-07T22:00:00Z,CONCTTE,ZOOPT,Subclass,COPEP,None,None,None,None,None,None,None,None,KT,AquaDesk,ZP.MS,['KIMA'],5.37176,52.58940

Om in een later stadium te kunnen onderzoeken hoe de metadata en data kunnen worden gemapped voor publicatie in Eurobis Darwin Core standaard is er eerst zoveel mogelijk informatie nodig over de inhoud van de Aquadesk kolommen. Met de informatie die via de V2 beschikbaar is, is er een poging gedaan om zoveel mogelijk informatie die in de dataframes staat toe te lichten.

In [8]:
with open("Grootheid_Code.csv", newline="", encoding="utf-8") as csvfile:
    reader = csv.reader(csvfile)  
    mapping_dict = {code: explanation for code, explanation, _ in reader}

df_aquadesk["Quantity_explanation"] = df_aquadesk["Quantity"].map(mapping_dict)

In [9]:
with open("Compartiment_Code.csv", newline="", encoding="utf-8") as csvfile:
    reader = csv.reader(csvfile)  
    mapping_dict = {code: explanation for code, explanation, _ in reader}

df_aquadesk["Compartment_explanation"] = df_aquadesk["Compartment"].map(mapping_dict)

In [10]:
df_aquadesk["license"] = ""
df_aquadesk['language'] = 'en'
df_aquadesk

,Organisation,Supplier,Projects,Code,Description,Parameter,LifeForm,Value,Uom,Count,Type,ResultOf,SamplingMethod,AnalysisMethod,Compartment,ResultTime,Quantity,TaxonType,TaxonRank,TaxonGroup,TaxonNameNl,ParameterType,Behaviour,Sampler,Completeness,Statistic,RecordingMethod,KrwCode,Purpose,Source,MeasurementPackage,MonitoringNetworks,longitude,latitude,Quantity_explanation,Compartment_explanation,license,language
0,RWS,None,None,WG17,Balgzand,Numenius phaeopus,None,NaN,None,3.0,Count,observed,None,None,NT,1990-12-31T23:00:00Z,AANTL,VOGLS,Species,None,Regenwulp,Biological,FOER,Sovon,COMPLETE,None,None,None,None,Sovon,None,None,4.834411,52.916400,Aantal,Niet van toepassing,,en
1,RWS,None,None,WG17,Balgzand,Numenius arquata,None,NaN,None,1140.0,Count,observed,None,None,NT,1990-12-31T23:00:00Z,AANTL,VOGLS,Species,None,Wulp,Biological,FOER,Sovon,COMPLETE,None,None,None,None,Sovon,None,None,4.834411,52.916400,Aantal,Niet van toepassing,,en
2,RWS,None,None,WG17,Balgzand,Tringa erythropus,None,NaN,None,79.0,Count,observed,None,None,NT,1990-12-31T23:00:00Z,AANTL,VOGLS,Species,None,Zwarte Ruiter,Biological,FOER,Sovon,COMPLETE,None,None,None,None,Sovon,None,None,4.834411,52.916400,Aantal,Niet van toepassing,,en
3,RWS,None,None,WG17,Balgzand,Tringa totanus,None,NaN,None,344.0,Count,observed,None,None,NT,1990-12-31T23:00:00Z,AANTL,VOGLS,Species,None,Tureluur,Biological,FOER,Sovon,COMPLETE,None,None,None,None,Sovon,None,None,4.834411,52.916400,Aantal,Niet van toepassing,,en
4,RWS,None,None,WG17,Balgzand,Tringa nebularia,None,NaN,None,8.0,Count,observed,None,None,NT,1990-12-31T23:00:00Z,AANTL,VOGLS,Species,None,Groenpootruiter,Biological,FOER,Sovon,COMPLETE,None,None,None,None,Sovon,None,None,4.834411,52.916400,Aantal,Niet van toepassing,,en
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167380,RWS,None,None,IJ15,Houtribdijk (IJsselmeerzijde),Larus argentatus,None,NaN,None,63.0,Count,observed,None,None,NT,1993-12-31T23:00:00Z,AANTL,VOGLS,Species,None,Zilvermeeuw,Biological,FOER,Sovon,COMPLETE,None,None,None,None,Sovon,None,None,5.409417,52.628275,Aantal,Niet van toepassing,,en
5167381,RWS,None,None,IJ15,Houtribdijk (IJsselmeerzijde),Larus marinus,None,NaN,None,21.0,Count,observed,None,None,NT,1993-12-31T23:00:00Z,AANTL,VOGLS,Species,None,Grote mantelmeeuw,Biological,FOER,Sovon,COMPLETE,None,None,None,None,Sovon,None,None,5.409417,52.628275,Aantal,Niet van toepassing,,en
5167382,RWS,None,None,IJ15,Houtribdijk (IJsselmeerzijde),Podiceps cristatus,None,NaN,None,8.0,Count,observed,None,None,NT,1993-12-31T23:00:00Z,AANTL,VOGLS,Species,None,Fuut,Biological,FOER,Sovon,COMPLETE,None,None,None,None,Sovon,None,None,5.409417,52.628275,Aantal,Niet van toepassing,,en
5167383,RWS,None,None,IJ15,Houtribdijk (IJsselmeerzijde),Aythya ferina,None,NaN,None,50.0,Count,observed,None,None,NT,1993-12-31T23:00:00Z,AANTL,VOGLS,Species,None,Tafeleend,Biological,FOER,Sovon,COMPLETE,None,None,None,None,Sovon,None,None,5.409417,52.628275,Aantal,Niet van toepassing,,en
5167384,RWS,None,None,IJ15,Houtribdijk (IJsselmeerzijde),Aythya fuligula,None,NaN,None,1385.0,Count,observed,None,None,NT,1993-12-31T23:00:00Z,AANTL,VOGLS,Species,None,Kuifeend,Biological,FOER,Sovon,COMPLETE,None,None,None,None,Sovon,None,None,5.409417,52.628275,Aantal,Niet van toepassing,,en

Voor beide categorieën is er een poging gedaan om de kolomnamen te mappen naar DarwinCore velden: https://dwc.tdwg.org/terms/. In het geval van Aquadesk gaat het uitsluitend om aantallen (of dichtheden) van biologische waarnemingen, waardoor het dus hoofdzakelijk onder de Occurrence type record valt met eventueel wat Event-metadata erbij waarvoor eerder de belangrijkste Darwin Core elementen zijn genoteerd. Dit betekent dat een DarwinCore Aquadesk dataset (.zip) als volgt kan worden ingedeeld:
- event.txt (waar en wanneer is het monster genomen)
- occurrence.txt (wat is er gemeten)
- meta.xml
- eml.xml

Om tot deze DarwinCore Aquadesk datasets te kunnen komen, moeten we onderzoeken of we voor de event en occurrence type record de “required” velden dekken. Als we de DarwinCore elementen van de bovenstaande tabellen filteren voor “Event” en “Occurrence” komen we op de volgende elementen uit als "Essentieel".

Event
- eventDate, eventID, decimalLongitude, decimalLatitude

Occurrence
- eventDate, decimalLongitude, decimalLatitude, occurrenceID, scientificName, occurrenceStatus, basisOfRecord

Om te kijken of we deze DarwinCore elementen kunnen mappen aan de Aquadesk data, is er een poging gedaan om alle kolomnamen te mappen naar relevante DarwinCore elementen. Onderstaande tabellen geven voor een deel van de kolommen voor Phytoplankton en Zoöplankton een eerste draft van mogelijke DarwinCore kolomnamen. Dit moet nog verder worden onderzocht en zal nog veel aanpassingen omvatten.

In [11]:
aquadesk_to_dwc = {
    "Supplier": "recordedBy",
    "Projects": "datasetID",
    "Code": "occurrenceID",
    "Description": "locality",
    "Parameter": "scientificName",
    "LifeForm": "lifeStage",
    "Value": "organismQuantity",
    "Count": "organismQuantity2",
    "Uom": "measurementUnit",
    "Type": "measurementType",
    "ResultOf": "basisOfRecord",
    'SamplingMethod' : 'samplingProtocol',
    'AnalysisMethod': "measurementMethod",
    'Compartment_explanation' : 'habitat',
    "ResultTime": "eventDate",  
    "Quantity_explanation": "organismQuantityType",
    "TaxonType": "organismRemarks",
    "TaxonGroup": "taxonRemarks",
    "TaxonRank": "taxonRank",
    "MeasurementPackage": "measurementRemarks",
    "MonitoringNetworks": "locationRemarks",
    "license": "license",
    "language": "language",
    "longitude": "decimalLongitude",
    "latitude": "decimalLatitude"
}

dwc_columns = list(aquadesk_to_dwc.values())
df_dwc = df_aquadesk.rename(columns=aquadesk_to_dwc)[dwc_columns]

column_order = [
    "eventDate",
    "decimalLongitude",
    "decimalLatitude",
    "scientificName",
    "organismQuantity2",
    "basisOfRecord",
    "datasetID",
    "occurrenceID",
    "recordedBy",
    "organismQuantity",
    "measurementUnit",
    "measurementType",
    "samplingProtocol",
    "measurementMethod",
    "habitat",
    "lifeStage",
    "organismQuantityType",
    "organismRemarks",
    "taxonRemarks",
    "taxonRank",
    "measurementRemarks",
    "locationRemarks",
    "locality",
    "license",
    "language"
]

df_dwc = df_dwc[column_order]
df_dwc

,eventDate,decimalLongitude,decimalLatitude,scientificName,organismQuantity2,basisOfRecord,datasetID,occurrenceID,recordedBy,organismQuantity,measurementUnit,measurementType,samplingProtocol,measurementMethod,habitat,lifeStage,organismQuantityType,organismRemarks,taxonRemarks,taxonRank,measurementRemarks,locationRemarks,locality,license,language
0,1990-12-31T23:00:00Z,4.834411,52.916400,Numenius phaeopus,3.0,observed,None,WG17,None,NaN,None,Count,None,None,Niet van toepassing,None,Aantal,VOGLS,None,Species,None,None,Balgzand,,en
1,1990-12-31T23:00:00Z,4.834411,52.916400,Numenius arquata,1140.0,observed,None,WG17,None,NaN,None,Count,None,None,Niet van toepassing,None,Aantal,VOGLS,None,Species,None,None,Balgzand,,en
2,1990-12-31T23:00:00Z,4.834411,52.916400,Tringa erythropus,79.0,observed,None,WG17,None,NaN,None,Count,None,None,Niet van toepassing,None,Aantal,VOGLS,None,Species,None,None,Balgzand,,en
3,1990-12-31T23:00:00Z,4.834411,52.916400,Tringa totanus,344.0,observed,None,WG17,None,NaN,None,Count,None,None,Niet van toepassing,None,Aantal,VOGLS,None,Species,None,None,Balgzand,,en
4,1990-12-31T23:00:00Z,4.834411,52.916400,Tringa nebularia,8.0,observed,None,WG17,None,NaN,None,Count,None,None,Niet van toepassing,None,Aantal,VOGLS,None,Species,None,None,Balgzand,,en
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5167380,1993-12-31T23:00:00Z,5.409417,52.628275,Larus argentatus,63.0,observed,None,IJ15,None,NaN,None,Count,None,None,Niet van toepassing,None,Aantal,VOGLS,None,Species,None,None,Houtribdijk (IJsselmeerzijde),,en
5167381,1993-12-31T23:00:00Z,5.409417,52.628275,Larus marinus,21.0,observed,None,IJ15,None,NaN,None,Count,None,None,Niet van toepassing,None,Aantal,VOGLS,None,Species,None,None,Houtribdijk (IJsselmeerzijde),,en
5167382,1993-12-31T23:00:00Z,5.409417,52.628275,Podiceps cristatus,8.0,observed,None,IJ15,None,NaN,None,Count,None,None,Niet van toepassing,None,Aantal,VOGLS,None,Species,None,None,Houtribdijk (IJsselmeerzijde),,en
5167383,1993-12-31T23:00:00Z,5.409417,52.628275,Aythya ferina,50.0,observed,None,IJ15,None,NaN,None,Count,None,None,Niet van toepassing,None,Aantal,VOGLS,None,Species,None,None,Houtribdijk (IJsselmeerzijde),,en
5167384,1993-12-31T23:00:00Z,5.409417,52.628275,Aythya fuligula,1385.0,observed,None,IJ15,None,NaN,None,Count,None,None,Niet van toepassing,None,Aantal,VOGLS,None,Species,None,None,Houtribdijk (IJsselmeerzijde),,en

In [12]:
df_FYTPT = df_dwc[df_dwc['organismRemarks'] == 'FYTPT']
df_FYTPT = df_FYTPT.reset_index(drop=True)
df_FYTPT

,eventDate,decimalLongitude,decimalLatitude,scientificName,organismQuantity2,basisOfRecord,datasetID,occurrenceID,recordedBy,organismQuantity,measurementUnit,measurementType,samplingProtocol,measurementMethod,habitat,lifeStage,organismQuantityType,organismRemarks,taxonRemarks,taxonRank,measurementRemarks,locationRemarks,locality,license,language
0,2010-09-12T22:00:00Z,4.30116,52.30143,Gyrodinium spirale,1.0,observation,MWTL_FYTPT,NRDZE_0012,RWS,NaN,None,Measure,FYTPT_S521,FYTPT_A523,Oppervlaktewater,LV-CEL,Aantal per volume,FYTPT,DINOF,Species,FP.AC,['MRN'],NOORDWK10,,en
1,2010-09-12T22:00:00Z,4.30116,52.30143,Heterocapsa,NaN,extrapolation,MWTL_FYTPT,NRDZE_0012,RWS,9799.0,N/L,Count,FYTPT_S521,FYTPT_A523,Oppervlaktewater,LV-CEL,Aantal per volume,FYTPT,DINOF,Genus,FP.AC,['MRN'],NOORDWK10,,en
2,2010-09-12T22:00:00Z,4.30116,52.30143,Heterocapsa,2.0,observation,MWTL_FYTPT,NRDZE_0012,RWS,NaN,None,Measure,FYTPT_S521,FYTPT_A523,Oppervlaktewater,LV-CEL,Aantal per volume,FYTPT,DINOF,Genus,FP.AC,['MRN'],NOORDWK10,,en
3,2010-09-12T22:00:00Z,4.30116,52.30143,Khakista,NaN,extrapolation,MWTL_FYTPT,NRDZE_0012,RWS,497225.0,N/L,Count,FYTPT_S521,FYTPT_A523,Oppervlaktewater,LV-CEL,Aantal per volume,FYTPT,HITAX,Subphylum,FP.AC,['MRN'],NOORDWK10,,en
4,2010-09-12T22:00:00Z,4.30116,52.30143,Khakista,23.0,observation,MWTL_FYTPT,NRDZE_0012,RWS,NaN,None,Measure,FYTPT_S521,FYTPT_A523,Oppervlaktewater,LV-CEL,Aantal per volume,FYTPT,HITAX,Subphylum,FP.AC,['MRN'],NOORDWK10,,en
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575995,2010-09-12T22:00:00Z,4.30116,52.30143,Eukaryota,NaN,extrapolation,MWTL_FYTPT,NRDZE_0012,RWS,1131221.0,N/L,Count,FYTPT_S521,FYTPT_A523,Oppervlaktewater,LV-CEL,Aantal per volume,FYTPT,HITAX,Domain,FP.AC,['MRN'],NOORDWK10,,en
575996,2010-09-12T22:00:00Z,4.30116,52.30143,Eukaryota,5.0,observation,MWTL_FYTPT,NRDZE_0012,RWS,NaN,None,Measure,FYTPT_S521,FYTPT_A523,Oppervlaktewater,LV-CEL,Aantal per volume,FYTPT,HITAX,Domain,FP.AC,['MRN'],NOORDWK10,,en
575997,2010-09-12T22:00:00Z,4.30116,52.30143,Gymnodiniales [1],NaN,extrapolation,MWTL_FYTPT,NRDZE_0012,RWS,64975.0,N/L,Count,FYTPT_S521,FYTPT_A523,Oppervlaktewater,LV-CEL,Aantal per volume,FYTPT,HITAX,Order,FP.AC,['MRN'],NOORDWK10,,en
575998,2010-09-12T22:00:00Z,4.30116,52.30143,Gymnodiniales [1],5.0,observation,MWTL_FYTPT,NRDZE_0012,RWS,NaN,None,Measure,FYTPT_S521,FYTPT_A523,Oppervlaktewater,LV-CEL,Aantal per volume,FYTPT,HITAX,Order,FP.AC,['MRN'],NOORDWK10,,en
575999,2010-09-12T22:00:00Z,4.30116,52.30143,Gyrodinium spirale,NaN,extrapolation,MWTL_FYTPT,NRDZE_0012,RWS,4899.0,N/L,Count,FYTPT_S521,FYTPT_A523,Oppervlaktewater,LV-CEL,Aantal per volume,FYTPT,DINOF,Species,FP.AC,['MRN'],NOORDWK10,,en

In [13]:
df_ZOOPT = df_dwc[df_dwc['organismRemarks'] == 'ZOOPT']
df_ZOOPT = df_ZOOPT.reset_index(drop=True)
df_ZOOPT

,eventDate,decimalLongitude,decimalLatitude,scientificName,organismQuantity2,basisOfRecord,datasetID,occurrenceID,recordedBy,organismQuantity,measurementUnit,measurementType,samplingProtocol,measurementMethod,habitat,lifeStage,organismQuantityType,organismRemarks,taxonRemarks,taxonRank,measurementRemarks,locationRemarks,locality,license,language
0,2018-06-11T22:00:00Z,4.30116,52.30143,Myrionecta rubra,NaN,extrapolation,MWTL_FYTPT,NRDZE_0012,RWS,1600.000000,N/L,Count,FYTPT_S523,FYTPT_A011,Oppervlaktewater,LV-CEL,Aantal per volume,ZOOPT,CILIO,Species,ZP.AB,['MRN'],NOORDWK10,,en
1,2018-06-11T22:00:00Z,4.30116,52.30143,Myrionecta rubra,2.0,observation,MWTL_FYTPT,NRDZE_0012,RWS,NaN,None,Measure,FYTPT_S523,FYTPT_A011,Oppervlaktewater,LV-CEL,Aantal per volume,ZOOPT,CILIO,Species,ZP.AB,['MRN'],NOORDWK10,,en
2,2018-07-03T22:00:00Z,4.30116,52.30143,Myrionecta rubra,NaN,extrapolation,MWTL_FYTPT,NRDZE_0012,RWS,10796.000000,N/L,Count,FYTPT_S523,FYTPT_A011,Oppervlaktewater,LV-CEL,Aantal per volume,ZOOPT,CILIO,Species,ZP.AB,['MRN'],NOORDWK10,,en
3,2018-07-03T22:00:00Z,4.30116,52.30143,Myrionecta rubra,2.0,observation,MWTL_FYTPT,NRDZE_0012,RWS,NaN,None,Measure,FYTPT_S523,FYTPT_A011,Oppervlaktewater,LV-CEL,Aantal per volume,ZOOPT,CILIO,Species,ZP.AB,['MRN'],NOORDWK10,,en
4,2018-07-15T22:00:00Z,4.30116,52.30143,Myrionecta rubra,NaN,extrapolation,MWTL_FYTPT,NRDZE_0012,RWS,2400.000000,N/L,Count,FYTPT_S523,FYTPT_A011,Oppervlaktewater,LV-CEL,Aantal per volume,ZOOPT,CILIO,Species,ZP.AB,['MRN'],NOORDWK10,,en
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19999,2024-10-07T22:00:00Z,5.37176,52.58940,Eubosmina coregoni,0.0,observation,KIMA,MRKMR_8176,RWS,NaN,None,Measure,ZOOPT_001,ZOOPT_RWS01,Oppervlaktewater,None,Concentratie,ZOOPT,BRANC,Species,ZP.MS,['KIMA'],MKWDDN_8856,,en
20000,2024-10-07T22:00:00Z,5.37176,52.58940,Copepoda,NaN,extrapolation,KIMA,MRKMR_8176,RWS,24.414522,UG/L,Count,ZOOPT_001,ZOOPT_RWS01,Oppervlaktewater,None,Concentratie,ZOOPT,COPEP,Subclass,ZP.MS,['KIMA'],MKWDDN_8856,,en
20001,2024-10-07T22:00:00Z,5.37176,52.58940,Copepoda,18.0,observation,KIMA,MRKMR_8176,RWS,NaN,None,Measure,ZOOPT_001,ZOOPT_RWS01,Oppervlaktewater,None,Concentratie,ZOOPT,COPEP,Subclass,ZP.MS,['KIMA'],MKWDDN_8856,,en
20002,2024-10-07T22:00:00Z,5.37176,52.58940,Copepoda,NaN,extrapolation,KIMA,MRKMR_8176,RWS,6.154490,UG/L,Count,ZOOPT_001,ZOOPT_RWS01,Oppervlaktewater,None,Concentratie,ZOOPT,COPEP,Subclass,ZP.MS,['KIMA'],MKWDDN_8856,,en
20003,2024-10-07T22:00:00Z,5.37176,52.58940,Copepoda,1.0,observation,KIMA,MRKMR_8176,RWS,NaN,None,Measure,ZOOPT_001,ZOOPT_RWS01,Oppervlaktewater,None,Concentratie,ZOOPT,COPEP,Subclass,ZP.MS,['KIMA'],MKWDDN_8856,,en

Als we kijken naar de essentiële DarwinCore elementen, zien we dat deze (bijna) allemaal gevuld kunnen worden door de Aquadesk data als volgt:
- eventDate:
Gegeven door de “ResultTime” kolom, e.g. 2022-12-31T23:00:00Z.
- eventID:
Niet expliciet aanwezig, zou kunnen worden gegenereerd door bijvoorbeeld kolommen samen te nemen zoals de “Organisation”, “Projects” en “Code”. 
- decimalLongitude & decimalLatitude:
Beschikbaar binnen “GeoGraphy”, die Polygonen en MultiPolygonen bevat. Wij hebben het middelpunt genomen van deze Polygonen voor elke meting als Longitude en Latitude waarde.
- occurrenceID:
Niet expliciet aanwezig, zou kunnen worden gegenereerd door bijvoorbeeld kolommen samen te nemen zoals de “Organisation”, “Longitude”, “Latitude”, “ResultTime” en “Parameter”. 
- scientificName:
Gegeven door de “Parameter” kolom, e.g. Phalacrocorax carbo.
- occurrenceStatus:
De noodzakelijke identificatie in de vorm van presence of absence kan worden afgeleid van het aantal gemeten beestjes via de “count” kolom.
- basisOfRecord:
Gegeven door de “ResultOf” kolom, e.g. observations, extrapolation, observed.